<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>admin-login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form action="/admin/login" method="post">
      <div>
          <label>Email:</label>
          <input type="text" name="email"/>
      </div>
      <div>
          <label>Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
    </form>
  </body>
</html>
